.App {
  text-align: center;
  background-color: #282c34;
}

.Emoji-logo {
  pointer-events: none;
  padding: 100px;
}

.App-header {
  min-height: 76vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Button-container {
  padding-top: 10vh
}

.Button-footer {
  width: 100%;
  font-family: 'Alegreya', serif;
  min-height: 14vh;
  font-size: calc(19px + 2vmin);
  background-color: pink;
}