.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(#5a667e, #72667d);
}

.App-title {
  min-height: 15vh;
  padding-top: 20px;
  font-size: calc(50px + 2vmin);
  color: whitesmoke;
  font-family: "Alegreya", serif bold;
  text-align: center;
}

.App-header {
  display: flex;
  height: 72vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.Button-container {
  height: 10vh;
}
.Button-footer {
  height: 10vh;
  width: 100%;
  color: whitesmoke;
  font-family: "Alegreya", serif bold;
  font-size: calc(19px + 2vmin);
  background-color: #7b1fa2;
}
